<h1>Rest Around!</h1>

<h2>Search Restaurants</h2>
<form class="create-form">

  <div class="form-group">
    <label for="restaurant-input">restaurant name:</label>
    <input type="text" id="restaurant-input" name="restaurant-input">
  </div>

  <button type="submit">Search</button>
</form>
